body {
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo {
    background: #ff990b;
}

#menu ul li:hover{
    background: #ff990b;
}

.button-more{
    background: #ff990b;
}